<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-header></app-header> -->
<div class="fluid-container">
  <div class="row">
    <div class="col-md-3">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
              <span>Nithish Peddi</span>
              <span class="d-none d-lg-block">
                <img class="img-fluid img-profile"  src="../assets/images/profile1.jpg" alt="">
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link scroll-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scroll-link" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scroll-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scroll-link" target="_blank" href="https://nithishwebtech.blogspot.com/">Blog Post</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scroll-link" href="#interests">Interests</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scroll-link" href="#contacts">Contacts</a>
                </li>
              </ul>
            </div>
          </nav>
    </div>
    <div class="col-md-9">
        <main class="main-container">
            <div class="container-fluid p-0 back-imag">
                  <section class="resume-section back-imag p-3 p-lg-5 d-flex align-items-center" id="about">
                <div class="w-100" id="about">
                  <h2 class="Intro">Introduction:</h2>
                  <p class="lead mb-5">Hi... I'm <b>Nithish Peddi</b>. I am from India.
                    I spent most of my childhood experiencing the growth in internet and technology. The curiosity to learn new technologies made me complete my under-graduation in
                    Computer Science.    
                    My dream to become a software engineer and to contribute to the real time world by learning advanced technologies made me get a Masters degree in
                    computer science in the United States.  
                  </p>
                  
                  <p class="lead mb-5"> <br>
                    Experienced and motivated web developer with 3 plus years of working experience in different domains.
                    Enthusiastic to learn new technologies and get updated with dynamic client side frameworks and libraries. I
                    Deliver Responsive, compatible ,
                    secured user interface along with W3C standards, ADA compliance to provide intuitive, consistent user
                    interface.</p>
          
                </div>
              </section>
          
              <hr class="m-0">
          
              <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
                <div class="w-100">
                  <h2 class="mb-5">Experience</h2>
          
                  <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                      <h3 class="mb-0">Web Developer</h3>
                      <div class="subheading mb-3">CVS Health</div>
                      <p>
                        • Worked on Design and Development of Angular 5 Single Page Applications (Health Domain) using Agile
                        methodology.<br>
                        • Implemented the Central Login Authentication and Authorization for multiple applications having
                        common landing page.<br>
                        • Worked on Implementation of OAuth 2.0 Token based SSO(Single Sign On).<br>
                        • Used MVC design patterns in implementing web applications.<br>
                        • Developed reusable components/libraries to be hosted in private repository within CVS health network
                        and reused it in multiple projects.<br>
                        • Used TFS (Team Foundation Server) to track the user stories and defects.<br>
                        • Used Jenkins and PCF cloud for maintenance, continues Integration and deployment.<br>
                        • Used the Ng2Smart table for the users to see the large volume of data with Pagination, Sorting,
                        Filtering
                        and Searching.<br>
                        • Implemented socket programming using stomp js library for pill/drug image verification.<br>
                        • Integrated the data from various back-end services like TIBCO, Java and external application.<br>
                      </p>
                    </div>
                    <div class="resume-date text-md-right">
                      <span class="text-primary">Nov 2017 - Present</span>
                    </div>
                  </div>
          
                  <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                      <h3 class="mb-0">Web Developer</h3>
                      <div class="subheading mb-3">Microsoft</div>
                      <p>
                        • Worked with UX Design teams for prototyping UI deliverable, such as wire-frames, flowcharts,
                        screen mock-ups, and interface design specifications.<br>
                        • Used identity providers for login, that will be authenticated via Azure Active Directory
                        (policies) and authorized via Users Security Group.<br>
                        • Application is build to display the devices complex data showing hierarchy of data with
                        multiple cascading accordions.<br>
                        • Have given role based access to the users to view, edit and delete the devices information.
                        • Implemented Angular 2 concepts- lazy loading, dependency injection , single responsibility,
                        routing , Interpolation etc..<br>
                        • Used Karma for Unit testing and Jasmine framework to enhance the test script.<br>
                        • Worked with AZURE cloud platforms for configuring , deployments and maintenance.<br>
                        • Used Bulma light weight framework to achieve 100% responsiveness.<br>
                        • Used Reactive Extensions (Rxjs) for asynchronous data streams with Observable.<br>
                        • Used Web pack 3 build tool , which improves performance of the application.<br>
                        • Worked on web storage such as Session Storage and Local Storage.</p>
                    </div>
                    <div class="resume-date text-md-right">
                      <span class="text-primary">May 2017 - Oct 2017</span>
                    </div>
                  </div>
          
                  <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                      <h3 class="mb-0">Software Engineer Intern</h3>
                      <div class="subheading mb-3">Positronic IO</div>
                      <p>
                        • Used Bootstrap 3 library to quickly build project UI and AngularJS framework to associate
                          HTML elements to models.<br>
                        • Worked with QA team on daily basis in fixing the reported bugs/defects and checking cross
                          platform compatibility.<br>
                        • Successfully performed the RESTful API’s Integration using JSON.<br>
                        • Developed custom directive factories and services in Angular JS.<br>
                        • Generated reports that summarized the network flow, performance, service time and crash
                          reports of the websites.<br>
                        • Worked on debugging JavaScript and html code with Firefox, Chrome and IE.<br>
                        • Implemented OAuth 2.0 authentication using Google API client library.<br>
                      </p>
                    </div>
                    <div class="resume-date text-md-right">
                      <span class="text-primary">Jan 2017 - May 2017</span>
                    </div>
                  </div>
          
                  <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                    <div class="resume-content">
                      <h3 class="mb-0">Inforica Pvt. Ltd</h3>
                      <div class="subheading mb-3">Junior UI Developer</div>
                      <p>
                        • Coordinated with BA group for better understanding of functional requirements. Analyzed
                          and gathered the business requirements.<br>
                        • Developed web pages with functionalities like login, sign up, forget password, email, filters
                          using JavaScript, JQuery.<br>
                        • Designed, developed and updated user interface web forms using CSS3, Dreamweaver and JavaScript.<br>
                        • Implemented Accordions, Drop downs, Pop up Screens using jQuery and other 3rd party libraries upon
                          user request.<br>
                        • Learned to understand the Document Object Model (DOM), Browser Object Model (BOM) and Web Standards.<br>
                        • Involved In writing SQL Queries, fixed bugs and provided support services for the application.<br>
                        • Implemented session cookies to store user info and keep track of the website activity<br>
                      </p>
                    </div>
                    <div class="resume-date text-md-right">
                      <span class="text-primary">June 2014 - Nov 2015</span>
                    </div>
                  </div>
          
                </div>
          
              </section>
          
              <hr class="m-0">
          
              <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
                <div class="w-100">
                  <h2 class="mb-5">Education</h2>
          
                  <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                      <h3 class="mb-0">University of Central Missouri</h3>
                      <div class="subheading mb-3">Masters in Computer Science</div>
                      <p>GPA: 3.8</p>
                    </div>
                    <div class="resume-date text-md-right">
                      <span class="text-primary">Jan 2016 - May 2017</span>
                    </div>
                  </div>
          
                  <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                    <div class="resume-content">
                      <h3 class="mb-0">JNTU Hyderabad</h3>
                      <div class="subheading mb-3">Bachelor of technology</div>
                      <div> Major - Computer Science</div>
                      <p>GPA: 3.56</p>
                    </div>
                    <div class="resume-date text-md-right">
                      <span class="text-primary">Aug 2010 - June 2014</span>
                    </div>
                  </div>
          
                </div>
              </section>
          
              <hr class="m-0">
          
              <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
                <div class="w-100">
                  <h2 class="mb-5">Skills</h2>
          
                  <div class="subheading mb-3">Programming Languages &amp; Tools</div>
                  <ul class="list-inline dev-icons">
                    <li class="list-inline-item">
                      <i class="fa fa-html5">HTML5</i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa fa-css3-alt">CSS3</i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa fa-js-square">JavaScript</i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa fa-angular">Angular</i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa fa-react">React</i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa fa-node-js">Node.js</i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa fa-sass"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa fa-less"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa fa-wordpress"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa fa-gulp"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa fa-grunt"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa fa-npm">NPM</i>
                    </li>
                  </ul>
          
                  <div class="subheading mb-3">Workflow</div>
                  <ul class="fa-ul mb-0">
                    <li>
                      <i class="fa-li fa fa-check"></i>
                      Mobile-First, Responsive Design</li>
                    <li>
                      <i class="fa-li fa fa-check"></i>
                      Cross Browser Testing &amp; Debugging</li>
                    <li>
                      <i class="fa-li fa fa-check"></i>
                      Cross Functional Teams</li>
                    <li>
                      <i class="fa-li fa fa-check"></i>
                      Agile Development &amp; Scrum</li>
                  </ul>
                </div>
              </section>
          
              <hr class="m-0">
          
              <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
                <div class="w-100">
                  <h2 class="mb-5">Interests</h2>
                  <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier
                    and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and
                    kayaking.</p>
                  <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows,
                    I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements
                    in the front-end web development world.</p>
                </div>
              </section>
          
              <hr class="m-0">
          
              <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
                <!-- <div class="w-100">
                  <h2 class="mb-5">Awards &amp; Certifications</h2>
                  <ul class="fa-ul mb-0">
                    <li>
                      <i class="fa-li fa fa-trophy text-warning"></i>
                      Google Analytics Certified Developer</li>
                    <li>
                      <i class="fa-li fa fa-trophy text-warning"></i>
                      Mobile Web Specialist - Google Certification</li>
                    <li>
                      <i class="fa-li fa fa-trophy text-warning"></i>
                      1<sup>st</sup>
                      Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
                    <li>
                      <i class="fa-li fa fa-trophy text-warning"></i>
                      1<sup>st</sup>
                      Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
                    <li>
                      <i class="fa-li fa fa-trophy text-warning"></i>
                      2<sup>nd</sup>
                      Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
                    <li>
                      <i class="fa-li fa fa-trophy text-warning"></i>
                      1<sup>st</sup>
                      Place - James Buchanan High School - Hackathon 2006</li>
                    <li>
                      <i class="fa-li fa fa-trophy text-warning"></i>
                      3<sup>rd</sup>
                      Place - James Buchanan High School - Hackathon 2005</li>
                  </ul>
                </div> -->
                <div class="social-icons" id="contacts">
                  <a href="https://www.linkedin.com/in/nithishpeddi58/">
                    <i class="fa fa-linkedin-in"></i>
                  </a>
                  <a href="https://github.com/nithishpeddi">
                    <i class="fa fa-github"></i>
                  </a>
                  <a href="https://twitter.com/nithishpeddi58">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-facebook-f"></i>
                  </a>
                </div>
               
                    <address>
                        Jefferson Avenue,
                         Cincinnati, 
                         OH, 45220.
                         Mobile: Prefer linkedin to Reach Me.
                         <a href="mailto:nithish.ui@outlook.com">nithish@outlook.com</a>
                    </address> 
                    
                
                <p>
                  <!-- 01)Knowledge and interest in computer systems and the latest technologies
                  02)The ability to learn new technologies quickly
                  03)An analytical mind
                  04)The ability to communicate complex procedures to other colleagues
                  05)Commercial and business awareness
                  06)Good communication skills – both written and verbal
                  07)Attention to detail and desire to probe further into data -->
          
                </p>
              </section>
          
            </div>    
        
      
      </main>
    </div>
  </div>
</div>
   
     
    

<app-footer></app-footer>
<router-outlet></router-outlet>